.dietplan{
    text-align: center;
    border: 1px solid #1AC84B;
    width: Fixed (295.41px)px;
    height: Hug (453px)px;
    top: 257px;
    left: 110px;
    padding: 50px 0px 0px 0px;
    gap: 20px;
    border-radius: 30px;
    border: 2px 0px 0px 0px;
    opacity: 0px;

}
.card-subtitle{
    text-align: center;

}
