.navbar-logo {
    height: 30px;
}

.navbar-title {
    margin-left: 5px;
    font-weight: bold;
}

.nav-link {
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    color: green;
}

.navbar-right .navbar-btn {
    margin-left: 10px;
    border-radius: 20px;
}

.btn-login {
    background-color: #00C000;
    color: #fff;
}

.btn-signup {
    background-color: #00FF00;
    color: #fff;
}

.btn-login:hover, .btn-signup:hover {
    background-color: #008000;
    color: #fff;
}
