.app {
    font-family: Arial, sans-serif;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {

    margin-bottom: 30px;
    text-align: left;
  }
  
  .header h2 {
    padding: 10px;
    font-size: 2.5em;
    color: #333;
  }
  
  .header h2 span {
    color: #4CAF50; /* Green color */
  }
  
  .header p {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;

    
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
  }
  
  .card {

    border: 1px solid #F5B55C;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .icon img {
    width: 122.47px;
    height: 122.47px;
    gap: 0px;
    opacity: 0px;

  }
  
  .card h3 {
    font-size: 1.5em;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #777;
    margin: 20px 0;
  }
  
  .card a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }
  